//META{"name":"SmarterEmbeds","description":"It basically makes the embeds align horizontally, so when there's multitple links in the same message, it takes less space in the chat.","author":"Beard_Design","version":"1.0.0"}*//{}

.container-1ov-mD {
	display: flex;
	flex-flow: row wrap;
}

.container-1ov-mD > :not(:last-of-type){
	margin-right: 10px;
}

.container-1ov-mD > *{
	margin-top: 5px;
}

.reactions-12N0jA {
	width: 100%;
	flex: 100%;
	order: 9999999999;
}
