//META{"name":"SmarterEmbeds","description":"It basically makes the embeds align horizontally, so when there's multitple links in the same message, it takes less space in the chat.","author":"Beard_Design","version":"1.0.0"}*//{}

.container-1YxwTf .container-1e22Ot {
	display: flex;
	flex-flow: row wrap;
}

.container-1YxwTf .container-1e22Ot > :not(:last-of-type){
	margin-right: 10px;
}

.container-1YxwTf .container-1e22Ot > *{
	margin-top: 5px;
}

.reactions-1xb2Ex {
	width: 100%;
	flex: 100%;
	order: 9999999999;
}
