//META{"name":"SmarterEmbeds","description":"It basically makes the embeds align horizontally, so when there's multitple links in the same message, it takes less space in the chat.","author":"Beard_Design","version":"1.0.0"}*//{}

.message-group .accessory{
	display: flex;
	flex-flow: row wrap;
}
.message-group .accessory>*:not(:last-of-type){
	margin-right:10px;
}
.message-group .accessory>*{
	margin-top:5px;
}
.reactions{
	width:100%;
	flex:100%;
	order:9999999999;
}